[submodule "dpdk"]
	path = dpdk
	url = https://github.com/spdk/dpdk.git
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = https://github.com/spdk/intel-ipsec-mb.git
[submodule "isa-l"]
	path = isa-l
	url = https://github.com/spdk/isa-l.git
[submodule "examples/nvme/claim"]
	path = examples/nvme/claim
	url = https://github.com/shergillg/claim.git
[submodule "examples/nvme/read"]
	path = examples/nvme/read
	url = https://github.com/shergillg/read.git
[submodule "examples/nvme/nfmt"]
	path = examples/nvme/nfmt
	url = https://github.com/shergillg/nfmt.git
